<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Автор</strong>
        <small>24.10.2023</small>
    </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
            nesciunt perspiciatis, quasi atque illum, architecto velit veritatis
            sit quibusdam quis harum possimus? Vero libero pariatur quis
            perferendis explicabo. Similique doloremque optio mollitia tempore
            voluptate facilis sed quis iste?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
            nesciunt perspiciatis, quasi atque illum, architecto velit veritatis
            sit quibusdam quis harum possimus? Vero libero pariatur quis
            perferendis explicabo. Similique doloremque optio mollitia tempore
            voluptate facilis sed quis iste?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
            nesciunt perspiciatis, quasi atque illum, architecto velit veritatis
            sit quibusdam quis harum possimus? Vero libero pariatur quis
            perferendis explicabo. Similique doloremque optio mollitia tempore
            voluptate facilis sed quis iste?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
            nesciunt perspiciatis, quasi atque illum, architecto velit veritatis
            sit quibusdam quis harum possimus? Vero libero pariatur quis
            perferendis explicabo. Similique doloremque optio mollitia tempore
            voluptate facilis sed quis iste?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
            nesciunt perspiciatis, quasi atque illum, architecto velit veritatis
            sit quibusdam quis harum possimus? Vero libero pariatur quis
            perferendis explicabo. Similique doloremque optio mollitia tempore
            voluptate facilis sed quis iste?
        </p>
    </div>
</div>
