<div class="container">
    <h1>Angular Pipes</h1>
    <p>{{ 10 | mult }}</p>
    <p>{{ 10 | mult : 2 }}</p>
    <p>{{ 10 | mult : 3 }}</p>
    <p>{{ 10 | mult : 5 }}</p>
    <p>{{ 10 | mult : 8 }}</p>
    <p>{{ 10 | mult : 13 }}</p>

    <p>uppercase: {{ str | uppercase }}</p>
    <p>lowercase: {{ str | lowercase }}</p>
    <p>titlecase: {{ str | titlecase }}</p>
    <p>date: {{ date | date }}</p>
    <p>fullDate: {{ date | date : "fullDate" }}</p>
    <p>longDate: {{ date | date : "long" }}</p>
    <p>longDate: {{ date | date : "longDate" }}</p>
    <p>d MMMM yyyy: {{ date | date : "d MMMM yyyy" }}</p>
    <p>d MMMM yyyy HH:mm:ss: {{ date | date : "d MMMM yyyy, HH:mm:ss" }}</p>
</div>
