<div class="backdrop"></div>

<div class="modal">
    <nav class="navbar">
        <h1>{{ title }}</h1>
    </nav>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eius
        repellat iure dolorum, quasi sint unde eum natus ut cumque veritatis,
        tempore enim voluptates eveniet error, odit placeat ratione deleniti
        explicabo consequatur laborum accusamus. Molestiae consequatur nam
        minus, expedita animi rem, eius doloremque optio, pariatur iste aliquam
        architecto temporibus. Doloribus culpa assumenda quasi corrupti officiis
        porro nobis? Nulla ad numquam porro magnam ducimus iusto amet architecto
        natus sit debitis culpa veritatis, tenetur officia nemo commodi ut
        voluptate possimus expedita quaerat minus illum impedit. Quos eligendi
        harum sunt illum.
    </p>

    <button class="btn" (click)="closeModal.emit()">&times;</button>
</div>
